<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.police.mapper.OfficerMapper">
    <select id="getAllOfficers" resultType="com.police.entity.Officer"> select distinct
        user.u_no,u_role,u_name,u_psw,u_sex,u_phone,o_no,o_stat,s_no from user,officer where
        user.u_no = officer.u_no </select>

    <!-- getOfficerByNo -->

    <select id="getOfficerByONo" resultType="com.police.entity.Officer"> select distinct
        ser.u_no,u_role,u_name,u_psw,u_sex,u_phone,o_no,o_stat,s_no from user,officer where
        user.u_no = officer.u_no and officer.o_no = #{o_no} </select>

</mapper>