<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.police.mapper.StationMapper">
    <select id="getAllStations" resultType="com.police.entity.Station"> select * from station</select>

    <!-- getStationBySNo -->

    <select id="getStationBySNo" resultType="com.police.entity.Station"> select * from station where
        s_no = #{s_no} </select>

    <!-- geStationBySarea -->
    <select id="getMinDisByLonLat" resultType="com.police.entity.Station"> SELECT s_no,s_name,
        s_lon, s_lat, s_phone, s_province,s_city,s_area, s_address,
        ST_DISTANCE_SPHERE(POINT(#{lon},#{lat}), POINT(s_lon, s_lat)) AS distance FROM station ORDER
        BY distance ASC LIMIT 1;</select>
</mapper>